@import url("https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");

.nav {
  display: flex;
  justify-content: flex-end;
  padding: 0.6rem;
  user-select: none;
}
.nav a {
  font-size: larger;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: black;
  padding: 0.9rem 1.6rem;
}

.nav a:hover {
  color: #3182ce;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.content {
  width: 45rem;
  margin: 0 auto;
}

.profile {
  position: relative;
  display: flex;
  width: 250px;
  user-select: none;
}

.bubble {
  top: 0;
  left: 0;
  width: 100%;
  animation: spin infinite 15s linear;
  -webkit-user-drag: none;
}

.portrait {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  border-radius: 100%;
  -webkit-user-drag: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.post-container {
  display: flex;
  flex-direction: column;
  width: 45rem;
  margin: 0 auto 2rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: white;
}

.post-header {
  display: flex;
  align-items: center ;
  justify-content: space-between;
  background-color: black;
  padding: 1rem 2rem;
}

.post-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.post-info {
  color: white;
  min-width: 100px;
  word-break: keep-all;
}

.post-content {
  padding: 0 2rem;
}
.post-footer {  
  display: flex;
  padding: 1.5rem;
  justify-content: center;
}

.site-footer {
  display: flex;
  background-color: white;
  padding: 1.5rem;
}

.footer-col {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 2rem;
}

.social-links i {
  color: #2e75af;
}

.pagination {
  display: flex;
  margin: 0 auto 2rem;
  justify-content: center;
}

.page {
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #3182ce;
  border-left: #479de4 1px solid;
  border-top: #479de4 1px solid;
  border-bottom: #479de4 1px solid;
  user-select: none;
}

.previous {
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.next {
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  border-right: #479de4 1px solid;
}

.current {
  background-color: #3182ce;
  color: white;
}
.disabled {
  color: #6a9fd1;
  border-color: #84bbe7;
}
