{% assign p = include.project %}

<div class="repo-card featured" data-repo-name="{{ p.name }}" data-language="{{ p.language }}">
    <div class="info">
        <div class="row-top">
            <div>
                <span class="tag blue" style="margin-bottom: 8px; display: inline-block">EM DESTAQUE</span>
                <a class="name" href="{{ p.url }}" style="font-size: 18px; margin-top: 4px; display: block; text-decoration: none; color: inherit;">
                    {{ p.name }}
                </a>
            </div>
            <div class="star js-stars">★ {{ p.stars | default: 0 }}</div>
        </div>
        <p class="desc">{{ p.description | strip_html | truncate: 200 }}</p>
        <div class="tag-row">
            {% for t in p.tags %}<span class="tag">{{ t }}</span>{% endfor %}
        </div>
    </div>
</div>
