<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/typography.css">
    <link rel="stylesheet" href="/css/highlight-dark.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scaleable=no">
  </head>
  <body>
    <div class="container">

      <div>
        <div class="nav">
          <a href="/">início</a>
          <a href="/projects/">projetos</a>
          <a href="/tools/">ferramentas</a>
        </div>
      </div>
      <section>
        {{ content }}
      </section>
    </div>
    <footer>
      &copy; to me
    </footer>
  </body>
</html>